# macOS template
*.DS_Store
.AppleDouble
.LSOverride

# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml

# Gradle
.gradle
/build/
.gradletasknamecache

# Compliled files
/target/
**/target