<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021100070">
    <select id="selectDeptLevel" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptLevel">
        SELECT	E_VI.EVENT_ID,
                EVENT_NM,
                HIGH_EVENT_ID,
                ID_PATH,
                LEV AS EVENT_LEVEL,
                EVENT_TP
        FROM	tb_s020.event_hierarchy_view  E_VI
        WHERE	ORG_ID = #{orgId}
    </select>

    <select id="selectDeptDetailInfo" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptDetailInfo">
        SELECT	E010.EVENT_ID,						-- EVENT_ID
                E010.EVENT_NM,						-- 부서(사역)명
                E010.EVENT_CODE,					-- 코드
                E010.EVENT_HOST_ID,					-- 책임자 ID
                M010.MEMBER_NAME,					-- 책임자 명
                E010.EVENT_BUDGET_AMOUNT,			-- 예산금액
                E010.EVENT_START_DATE,				-- 사용일자의 시작일자
                E010.EVENT_END_DATE,				-- 사용일자의 종료일자
                E010.EVENT_LOC,						-- 행사장소
                E010.DEFAULT_EVENT_FLAG,			-- 기본 사역(행사)여부 (Y - 기본사역(행사))
                E010.EVENT_STATUS,					-- 공개여부 (A- 공개, B- 비공개)
                E010.PAY_FLAG,						-- 결제여부(Y - 결제, N - 비결제)
                E010.EVENT_COMMENT,					-- 비고
                E010.HIGH_EVENT_ID,
                E010.EVENT_LEVEL,
                E010.EVENT_TP,                    -- 부서행사구분(A:행사/D:부서)
                E010.EVENT_FINAL_FLAG,            -- 행사최하위여부(Y:최하위 /NULL:최하위 아님)
                CASE  WHEN E010.EVENT_TP = 'A' AND E010.EVENT_FINAL_FLAG = 'Y' THEN 'Y'
                      WHEN E010.EVENT_TP = 'D' AND (SELECT COUNT(*)  FROM TB_S020.EVENT_HIERARCHY_VIEW
                                                     WHERE ID_PATH_PRIORTIY = E010.EVENT_ID) > 1 THEN 'Y'
                      ELSE   'N'
                      END   AS DEL_FLAG      -- 부서(행사)삭제가능여부 (Y - 삭제 가능 / N - 삭제불가)
        FROM	tb_s020.tb_s020_event010  E010
                LEFT OUTER JOIN  TB_S020.TB_S020_MEMBER010  M010
                ON	E010.EVENT_HOST_ID = M010.MEMBER_ID
                AND	E010.ORG_ID		= M010.ORG_ID
        WHERE	E010.EVENT_ID = #{eventId}
    </select>
    <select id="selectDeptDetailPayInfo" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptDetailPayInfo">
         SELECT	M010.MEMBER_ID,								-- MEMBER_ID
                M010.MEMBER_NAME,							-- 성명
                M010.HP_NO,									-- HP_NO
                CASE WHEN EVENT_PAY_LEVEL = 1 THEN 'Y'
                     ELSE 'N'
                END	FST_PAY_FLAG,							-- 1차 결제자 여부
                CASE WHEN EVENT_PAY_LEVEL = 2 THEN 'Y'
                     ELSE 'N'
                END	SND_PAY_FLAG,							-- 2차 결제자 여부
                CASE WHEN EVENT_PAY_LEVEL = 3 THEN 'Y'
                     ELSE 'N'
                END	TRD_PAY_FLAG,							-- 3차 결제자 여부
                CASE WHEN EVENT_PAY_LEVEL = 4 THEN 'Y'
                     ELSE 'N'
                END	FOURTH_PAY_FLAG,						-- 4차 결제자
                EVENT_PAY_ROLE_CD,							-- 비고
                IFNULL(EVENT_PAY_LEVEL, 99) AS EVENT_PAY_LEVEL,	-- 결제자LEVEL
                E020.EVENT_ID
        FROM 	tb_s020.tb_s020_event020 E020
                INNER JOIN tb_s020.tb_s020_member010 M010
                ON 	M010.MEMBER_ID	= e020.event_pay_user_id
                AND	M010.ORG_ID = #{orgId}
        WHERE	E020.EVENT_ID = #{eventId}
        ORDER BY IFNULL(EVENT_PAY_LEVEL, 99)
    </select>

    <insert id="insertEvent" parameterType="com.swontech.s02.domain.vo.s021.S021100070Vo$TbEvent010Vo">
        <selectKey resultType="java.lang.Integer" keyProperty="eventId" order="AFTER">
            SELECT  MAX(EVENT_ID)
            FROM    tb_s020.tb_s020_event010
        </selectKey>

        INSERT INTO tb_s020.tb_s020_event010(
        /* S021100070 부서(행사) 저장 화면 S021100070.insertEventVo Created By KJY */
            EVENT_ID,
            CREATE_OBJECT_ID,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            LAST_OBJECT_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID,
            EVENT_NM,
            EVENT_CODE,
            EVENT_START_DATE,
            EVENT_END_DATE,
            PAY_FLAG,
            EVENT_LOC,
            EVENT_HOST_ID,
            EVENT_COMMENT,
            EVENT_STATUS,
            EVENT_REG_ID,
            EVENT_BUDGET_AMOUNT,
            ORG_ID,
            DEFAULT_EVENT_FLAG,
            HIGH_EVENT_ID,
            EVENT_LEVEL,
            EVENT_FINAL_FLAG,
            EVENT_TP,
            EVENT_PAY_DEPT
        ) VALUES (
            NEXTVAL(tb_s020.sq_s020_event010),
            #{memberId},			-- 화면의 사용자 member_id
            SYSDATE(),
            'S021100070',
            #{memberId},			-- 화면의 사용자 member_id
            SYSDATE(),
            'S021100070',
            #{eventNm},				-- 화면의 부서 또는 행사(사역)명
            #{eventCode},			-- 0 Leve의 경우만 "SearchEventCodeVO.event_code" 조회하여 등록
            #{eventStartDate},		-- 화면의 사용일자 from
            #{eventEndDate},		-- 화면의 사용일자 to
            #{payFlag},				-- 화면의 결제여부
            #{eventLoc},			-- 화면의 행사장소
            #{eventHostId},			-- 화면의 책임자 ID EVENT_HOST_ID
            #{eventComment},		-- 화면의  비고
            #{eventStatus},			-- 화면의 공개여부 EVENT_STATUS ??
            #{memberId} ,           -- 행사등록자ID(로그인한 memberid)
            #{eventBudgetAmount},	-- 화면의  예산금액
            #{orgId},				-- 화면의 로그인된 org_id
            #{defaultEventFlag},	-- 화면의  기본사역여부
            #{highEventId},		-- 0Level 경우 null , 1Level 이상의 경우는 선택한 상위 event_id
            #{eventLevel},		-- 0Level 최상위의 경우 null, 그외 상위 Level +1
            #{eventFinalFlag},	-- 행사(사역)일때 'Y', 기타 null
            #{eventTp},			-- 행사(사역)이면 'A', 부서이면 'D'
            #{eventPayDept}		-- 0Level 최상위이면 화면의 최종 결제 depth 값
        )
    </insert>
    <update id="updateEvent" parameterType="com.swontech.s02.domain.vo.s021.S021100070Vo$TbEvent010Vo">
        UPDATE tb_s020.tb_s020_event010
        SET	LAST_OBJECT_ID = #{memberId},			-- 화면의 로그인 member_id
            UPDATE_TIMESTAMP = SYSDATE(),
            UPDATE_PROGRAM_ID = 'S021100070',
            EVENT_NM            = #{eventNm},			-- 화면의 부서, 행사(사역)명
            EVENT_START_DATE    = #{eventStartDate},	-- 화면의 사용일자 from
            EVENT_END_DATE      = #{eventEndDate},		-- 화면의 사용일자 to
            PAY_FLAG            = #{payFlag},			-- 화면의 결제여부
            EVENT_LOC           = #{eventLoc},			-- 화면의 행사장소
            EVENT_HOST_ID       = #{eventHostId},		-- 화면의 책임자 ID
            EVENT_COMMENT       = #{eventComment},		-- 화면의 비고
            EVENT_STATUS        = #{eventStatus},		-- 공개여부 (공개 - 'A', 비공개 - 'B')
            EVENT_BUDGET_AMOUNT = #{eventBudgetAmount}	-- 화면의  예산금액
            DEFAULT_EVENT_FLAG  = #{defaultEventFlag}	-- 화면의 기본사역여부
        WHERE EVENT_ID = #{eventId}				-- 화면에서 선택한 event_id
    </update>
    <insert id="insertEventMember" parameterType="com.swontech.s02.domain.vo.s021.S021100070Vo$TbEvent020Vo">

        INSERT INTO tb_s020.tb_s020_event020(
            EVENT_ID,
            EVENT_PAY_USER_ID,
            CREATE_OBJECT_ID,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            LAST_OBJECT_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID,
            EVENT_PAY_LEVEL,
            EVENT_PAY_ROLE_CD
        )  VALUES (
            #{eventId},			-- 신규 등록시 tb_s020_event010 에 저장한 event_id, 수정시는 선택한 event_id
            #{eventPayUserId},	-- 화면에서 선택한 결제자의 member_id
            #{memberId},	    -- 화면의 로그인 member_id
            SYSDATE(),
            'S021100070',
            #{memberId},	    -- 화면의 로그인 member_id
            SYSDATE(),
            'S021100070',
            #{eventPayLevel},	-- 화면의 결제자 Level구분
            #{eventPayRoleCd}	-- 화면의 사용자 비고
        )
    </insert>
    <update id="deleteEventMember" parameterType="java.lang.Integer">
        DELETE FROM tb_s020.tb_s020_event020
         WHERE event_id = #{eventId}		-- 선택한 event_id
    </update>

    <select id="selectNewEventCode" parameterType="java.lang.String" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$NewEventCode">
        select 	case when length(max(cast(substring(e010.event_code, 4) as unsigned)) + 1) = 1
                            then concat(org010.org_code, '0', max(cast(substring(e010.event_code, 4) as unsigned)) + 1)
                     when length(max(cast(substring(e010.event_code, 4) as unsigned)) + 1) = 2
                            then concat(org010.org_code,  max(cast(substring(e010.event_code, 4) as unsigned)) + 1)
                end event_code
        from 	tb_s020.tb_s020_event010  e010
                inner join tb_s020.tb_s020_org010  org010
                on org010.org_id	= e010.org_id
        where	e010.org_id = #{orgId}
         and	e010.event_level = 0
    </select>

    <update id="updateEventFinalFlag" parameterType="com.swontech.s02.domain.vo.s021.S021100070Vo$ParamsVo">
        update tb_s020.tb_s020_event010  e010
           set EVENT_FINAL_FLAG = null
         where org_id = #{orgId}		-- org_id
           and event_id = #{eventId}	-- 등록 시 선택한 상위 event_id
    </update>

    <update id="updateDefaultEventFlag" parameterType="com.swontech.s02.domain.vo.s021.S021100070Vo$ParamsVo">
        update tb_s020.tb_s020_event010  e010
           set DEFAULT_EVENT_FLAG = null
         where org_id = #{orgId}		-- org_id
           and event_id = #{eventId}	-- 등록 시 선택한 상위 event_id
    </update>

</mapper>