<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021100070">
    <select id="selectDeptLevel" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptLevel">
        WITH RECURSIVE CTE AS (
            SELECT	    EVENT010.EVENT_ID,
                        EVENT010.EVENT_NM,
                        EVENT010.HIGH_EVENT_ID,
                        EVENT010.EVENT_LEVEL,
                        EVENT010.EVENT_TP
                        CAST(EVENT010.EVENT_ID AS CHAR(100) CHARACTER SET UTF8) AS ID_PATH,
            FROM 	    tb_s020.tb_s020_event010 EVENT010
            WHERE	    EVENT_LEVEL = 0
            AND         EVENT010.ORG_ID = #{orgId}

            UNION ALL

            SELECT	    EVENT010_2.EVENT_ID,
                        EVENT010_2.EVENT_NM,
                        EVENT010_2.HIGH_EVENT_ID,
                        EVENT010_2.EVENT_LEVEL,
                        EVENT010_2.EVENT_TP,
                        CONCAT(TEMP.ID_PATH, '-', EVENT010_2.EVENT_ID) AS ID_PATH
            FROM	    tb_s020.tb_s020_event010 EVENT010_2
            INNER JOIN  CTE TEMP
                    ON  EVENT010_2.HIGH_EVENT_ID = TEMP.EVENT_ID
        )
        SELECT	EVENT_NM,
                IFNULL(HIGH_EVENT_ID, 0) AS HIGH_EVENT_ID, 						-- 상위 id
                ID_PATH,														-- id Path
                CASE WHEN EVENT_LEVEL = 0
                     THEN EVENT_ID
                     ELSE SUBSTRING(ID_PATH, 1, LOCATE('-', ID_PATH) - 1)
                END  AS MOST_HIGH_ID, 										-- 최상위 event_id
                EVENT_LEVEL,												-- level
                EVENT_TP,													-- event 구분( A : 행사 , D : 부서)
                EVENT_ID													-- event_id
        FROM	CTE
        ORDER BY ID_PATH
    </select>

    <select id="selectDeptDetailInfo" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptDetailInfo">
        SELECT	EVENT010.EVENT_ID,						-- 이벤트ID
                EVENT010.EVENT_TP,                      -- 이벤트 타입
                EVENT010.EVENT_NM,						-- EVENT_TP = 'D'이면 부서명, 'A'이면 사역(행사)명
                EVENT010.EVENT_HOST_ID,					-- 책임자 ID
                EVENT010.EVENT_BUDGET_AMOUNT,			-- 예산금액
                EVENT010.EVENT_START_DATE,				-- 사용일자의 시작일자
                EVENT010.EVENT_END_DATE,				-- 사용일자의 종료일자
                EVENT010.EVENT_LOC,						-- 행사장소
                EVENT010.DEFAULT_EVENT_FLAG,			-- 기본 사역(행사)여부
                EVENT010.EVENT_COMMENT,					-- 비고
                MEMBER010.MEMBER_NAME					-- 책임자 명
        FROM	tb_s020.tb_s020_event010    EVENT010,
                tb_s020.tb_s020_member010   MEMBER010
        WHERE	EVENT010.EVENT_HOST_ID = MEMBER010.MEMBER_ID
        AND		EVENT010.EVENT_ID = #{eventId}
    </select>
    <select id="selectDeptDetailPayInfo" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptDetailPayInfo">
        SELECT		EVENT020.EVENT_ID,						-- event_id
                    EVENT020.EVENT_PAY_USER_ID,				-- 결제자 ID
                    EVENT020.EVENT_PAY_LEVEL,				-- 결제 순위
                    EVENT020.EVENT_PAY_ROLE_CD,				-- 비고
                    MEMBER010.MEMBER_NAME					-- 결제자 명
        FROM 		tb_s020.tb_s020_event020  	EVENT020,
                    tb_s020.tb_s020_member010  	MEMBER010
        WHERE 		EVENT020.EVENT_PAY_USER_ID = MEMBER010.MEMBER_ID
        AND			EVENT020.EVENT_ID = #{eventId}
        ORDER BY 	EVENT_PAY_LEVEL
    </select>
</mapper>