<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021100020">
    <select id="selectMemberEmail" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT      EMAIL
        FROM        tb_s020.tb_s020_member010
        WHERE       EMAIL = #{email}
    </select>

    <insert id="insertOrg" parameterType="com.swontech.s02.domain.vo.s021.S021100020Vo$InsertOrgVo">
        <selectKey resultType="java.lang.Integer" keyProperty="orgId" order="AFTER">
            SELECT  MAX(ORG_ID)
            FROM    tb_s020.tb_s020_org010
        </selectKey>

        INSERT INTO TB_S020.TB_S020_ORG010 (
            ORG_ID,
            ORG_NAME,
            ZIP_CODE,
            ADDRESS,
            DETAIL_ADDRESS,
            TEL_NO,
            CREATE_OBJECT_ID,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            LAST_OBJECT_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID,
            ORG_CODE
        )
        SELECT  NEXTVAL(tb_s020.sq_s020_member010),
                #{orgName},		            -- 단체명
                #{zipCode},		            -- 우편번호
                #{address},		            -- 주소
                #{detailAddress},	        -- 상세주소
                CONCAT(IFNULL(#{firstTelNo}, ''), '-', IFNULL(#{middleTelNo}, ''), '-', IFNULL(#{lastTelNo}, '')),
                'TEST',             -- 로그인한 정보의 로그인ID => 2022.09.06 추가 수정사항
                SYSDATE(),
                'S021100020',
                'TEST',             -- 로그인한 정보의 로그인ID => 2022.09.06 추가 수정사항
                SYSDATE(),
                'S021100020',
                CASE    WHEN ASCII(MAX(ORG_CODE)) =  0 THEN 'AAA'
                        WHEN SUBSTRING(MAX(ORG_CODE), 3) != 'Z' THEN CONCAT(SUBSTRING(MAX(ORG_CODE), 1, 1), SUBSTRING(MAX(ORG_CODE), 2, 1),  CHR(ASCII(SUBSTRING(MAX(ORG_CODE), 3)) + 1))
                        WHEN SUBSTRING(MAX(ORG_CODE), 3) = 'Z' AND  SUBSTRING(MAX(ORG_CODE), 2, 1) != 'Z'  THEN CONCAT(SUBSTRING(MAX(ORG_CODE), 1, 1), CHR(ASCII(SUBSTRING(MAX(ORG_CODE), 2, 1)) +1),  'A')
                        WHEN SUBSTRING(MAX(ORG_CODE), 3) = 'Z' AND  SUBSTRING(MAX(ORG_CODE), 2, 1) = 'Z' AND  SUBSTRING(MAX(ORG_CODE), 1, 1) != 'Z' THEN CONCAT(CHR(ASCII(SUBSTRING(MAX(ORG_CODE), 1, 1)) + 1), 'A',  'A')
                        ELSE '999'
                END
        FROM    TB_S020.TB_S020_ORG010
    </insert>

    <insert id="insertMember" parameterType="com.swontech.s02.domain.vo.s021.S021100020Vo$InsertMemberVo">
        INSERT INTO tb_s020.tb_s020_member010 (
            MEMBER_ID,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID,
            ORG_ID,
            MEMBER_NAME,
            HP_NO,
            EMAIL,
            MEMBER_TP,
            PWD
        ) VALUES (
            NEXTVAL(tb_s020.sq_s020_member010),
            SYSDATE(),
            'S021100020',
            SYSDATE(),
            'S021100020',
            #{orgId},
            #{memberName},
            CONCAT(#{firstHpNo}, '-', #{middleHpNo}, '-', #{lastHpNo}),
            #{email},
            'C',
            #{pwd}
        )
    </insert>

    <select id="selectOrg" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100020Dto$OrgDetailInfo">
        select	org.org_id,						 -- ORG_ID
            org.org_name,						 -- 단체명
            org.zip_code,						 -- 우편번호
            org.address,						 -- 주소
            org.detail_address,						 -- 상세주소
            substring_index(org.tel_no, '-', 1)  tel_no_fst,				-- 연락처 첫번째
            substring_index(substring_index(org.tel_no, '-', 2),'-', -1) 	tel_no_snd,		 -- 연락처 두번째
            substring_index(org.tel_no, '-', -1)	tel_no_thd,				-- 연락처 세번째
            mem.member_name,						 -- 대표자명
            substring_index(mem.hp_no, '-', 1)  hp_fst,						 -- 대표자 HP 첫번째
            substring_index(substring_index(mem.hp_no, '-', 2),'-', -1)  hp_snd, -- 대표자 HP 두번째
            substring_index(mem.hp_no, '-', -1)   hp_thd,						 -- 대표자 HP 세번째
            substring_index(mem.email, '@', 1)    email_fst,					 -- 대표자 EMAIL 첫번째
            substring_index(mem.email, '@', -1)   email_snd,					 -- 대표자 EMAIL 두번째
            mem.member_id
        from	tb_s020.tb_s020_org010 		org
            inner join tb_s020.tb_s020_member010   mem
            on	org.org_id    = mem.org_id
            and	mem.member_tp = 'C'
        where	org.org_id 	= #{orgId}		 -- 선택한 ORG_ID
    </select>

    <update id="updateOrg" parameterType="com.swontech.s02.domain.vo.s021.S021100020Vo$UpdateOrgVo">
        UPDATE
            tb_s020_org010 ORG010
        INNER JOIN
            tb_s020_member010 MEMBER010 ON ORG010.ORG_ID = MEMBER010.ORG_ID
        SET
            ORG010.ORG_NAME = #{orgName},
            ORG010.ZIP_CODE = #{zipCode},
            ORG010.ADDRESS = #{address},
            ORG010.DETAIL_ADDRESS = #{detailAddress},
            ORG010.TEL_NO = CONCAT(#{firstTelNo}, '-', #{middleTelNo}, '-', #{lastTelNo}),

            MEMBER010.EMAIL = #{email},
            MEMBER010.MEMBER_NAME = #{memberName},
            MEMBER010.HP_NO = CONCAT(#{firstHpNo}, '-', #{middleHpNo}, '-', #{lastHpNo}),
            MEMBER010.PWD = #{pwd},

            ORG010.UPDATE_TIMESTAMP = SYSDATE(),
            ORG010.UPDATE_PROGRAM_ID = 's021100020',
            MEMBER010.UPDATE_TIMESTAMP = SYSDATE(),
            MEMBER010.UPDATE_PROGRAM_ID = 's021100020'

        WHERE	ORG010.ORG_ID = #{orgId}
        AND 	MEMBER010.MEMBER_TP = 'C'
    </update>
</mapper>