<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021100030">
    <select id="selectMemberList" parameterType="com.swontech.s02.domain.vo.s021.S021100030Vo$SelectMemberListVo" resultType="com.swontech.s02.domain.dto.s021.S021100030Dto$MemberListResponse">
        SELECT 		ORG010.ORG_ID,						-- 단체ID
                    ORG010.ORG_NAME,					-- 단체명
                    MEMBER010.MEMBER_ID,				-- 회원ID
                    MEMBER010.MEMBER_NAME,				-- 회원명
                    MEMBER010.EMAIL,					-- 이메일
                    MEMBER010.HP_NO,					-- 전화번호
                    MEMBER010.MOBILE_LOGIN_DATE,		-- 모바일 로그인 날짜
                    MEMBER010.MEMBER_TP,				-- 회원 등급
                    -- 회원등급명
                    (SELECT CD_V_MEANING
                    FROM 	tb_s020.tb_s020_code010
                    WHERE 	CD_TP 		= 'MEMBER_TP'
                    AND  	CATEGORY 	='000'
                    AND  	CD_V = MEMBER010.MEMBER_TP) AS MEMBER_TP_NM
        FROM 		tb_s020.tb_s020_member010 	MEMBER010
        INNER JOIN 	tb_s020.tb_s020_org010 		ORG010
        ON			MEMBER010.ORG_ID = ORG010.ORG_ID
        WHERE 		MEMBER010.DATA_END_STATUS IS NULL
        AND			MEMBER010.ORG_ID = #{orgId}
        AND			MEMBER010.CREATE_TIMESTAMP
        BETWEEN     STR_TO_DATE(#{fromDt}, '%Y-%m-%d %H:%i%S')
        AND         DATE_ADD(STR_TO_DATE(#{toDt}, '%Y-%m-%d %H:%i%S'), INTERVAL 1 DAY)
        AND			MEMBER010.MEMBER_NAME LIKE CONCAT('%', #{memberName}, '%')
        AND			MEMBER010.MEMBER_TP = #{memberTp}
    </select>

    <update id="deleteMember" parameterType="java.lang.Integer">
        UPDATE	tb_s020.tb_s020_member010
        SET		DATA_END_STATUS     = ‘*’,
                DATA_END_PROGRAM_ID = 'S021100030'
                DATA_END_TIMESTAMP  = SYSDATE()
        WHERE	MEMBER_ID           = #{memberId}
    </update>

    <update id="updateMemberTp" parameterType="java.lang.Integer">
        UPDATE	tb_s020.tb_s020_member010
        SET		MEMBER_TP = 'R'
        WHERE	MEMBER_ID = #{memberId}
    </update>


</mapper>