<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021100070">
    <select id="selectDeptLevel" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptLevel">
        SELECT	E_VI.EVENT_ID,
                EVENT_NM,
                HIGH_EVENT_ID,
                ID_PATH,
                LEV AS EVENT_LEVEL,
                EVENT_TP
        FROM	TB_S020.EVENT_HIERARCHY_VIEW  E_VI
        WHERE	ORG_ID = #{orgId}
    </select>

    <select id="selectDeptDetailInfo" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptDetailInfo">
        SELECT	E010.EVENT_ID,						-- EVENT_ID
                E010.EVENT_NM,						-- 부서(사역)명
                E010.EVENT_CODE,					-- 코드
                E010.EVENT_HOST_ID,					-- 책임자 ID
                M010.MEMBER_NAME,					-- 책임자 명
                E010.EVENT_BUDGET_AMOUNT,			-- 예산금액
                E010.EVENT_START_DATE,				-- 사용일자의 시작일자
                E010.EVENT_END_DATE,				-- 사용일자의 종료일자
                E010.EVENT_LOC,						-- 행사장소
                E010.DEFAULT_EVENT_FLAG,			-- 기본 사역(행사)여부 (Y - 기본사역(행사))
                E010.EVENT_STATUS,					-- 공개여부 (A- 공개, B- 비공개)
                E010.PAY_FLAG,						-- 결제여부(Y - 결제, N - 비결제)
                E010.EVENT_COMMENT					-- 비고
        FROM	TB_S020.TB_S020_EVENT010  E010
                INNER JOIN  TB_S020.TB_S020_MEMBER010  M010
                ON	E010.EVENT_HOST_ID = M010.MEMBER_ID
                AND	E010.ORG_ID		= M010.ORG_ID
        WHERE	E010.EVENT_ID = #{eventId}
    </select>
    <select id="selectDeptDetailPayInfo" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s021.S021100070Dto$DeptDetailPayInfo">
         SELECT	M010.MEMBER_ID,								-- MEMBER_ID
                M010.MEMBER_NAME,							-- 성명
                M010.HP_NO,									-- HP_NO
                CASE WHEN EVENT_PAY_LEVEL = 1 THEN 'Y'
                     ELSE 'N'
                END	FST_PAY_FLAG,							-- 1차 결제자 여부
                CASE WHEN EVENT_PAY_LEVEL = 2 THEN 'Y'
                     ELSE 'N'
                END	SND_PAY_FLAG,							-- 2차 결제자 여부
                CASE WHEN EVENT_PAY_LEVEL = 3 THEN 'Y'
                     ELSE 'N'
                END	TRD_PAY_FLAG,							-- 3차 결제자 여부
                CASE WHEN EVENT_PAY_LEVEL = 4 THEN 'Y'
                     ELSE 'N'
                END	FOURTH_PAY_FLAG,						-- 4차 결제자
                EVENT_PAY_ROLE_CD,							-- 비고
                IFNULL(EVENT_PAY_LEVEL, 99),							-- 결제자LEVEL
                E020.EVENT_ID
        FROM 	TB_S020.TB_S020_EVENT020 E020
                INNER JOIN TB_S020.TB_S020_MEMBER010 M010
                ON 	M010.MEMBER_ID	= E020.EVENT_PAY_USER_ID
                AND	M010.ORG_ID = #{orgId}
        WHERE	E020.EVENT_ID = #{eventId}
        ORDER BY IFNULL(EVENT_PAY_LEVEL, 99)
    </select>
</mapper>