<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021200010">
    <resultMap id="selectMemberVo" type="com.swontech.s02.domain.vo.s021.S021200010Vo$Member">
        <result property="email" column="EMAIL" />
        <result property="pwd" column="PWD" />
        <result property="memberTp" column="MEMBER_TP" />
    </resultMap>

    <select id="selectMemberInfo" parameterType="com.swontech.s02.domain.vo.s021.S021200010Vo$SelectMemberEmailVo" resultType="com.swontech.s02.domain.dto.s021.S021200010Dto$MemberInfoDto">
        SELECT  MEMBER010.MEMBER_ID,
                MEMBER010.EMAIL,
                MEMBER010.MEMBER_NAME,
                MEMBER010.MEMBER_TP,
                MEMBER010.ORG_ID,
                MEMBER010.ORG_NAME,
                (SELECT     ORG010.ORG_NAME
                FROM        tb_s020_ORG010 ORG010
                WHERE       ORG010.ORG_ID = MEMBER010.ORG_ID) AS ORG_NAME
        FROM    tb_s020.tb_s020_member010 MEMBER010
        WHERE   MEMBER010.EMAIL = #{email}
    </select>

    <select id="selectMember" parameterType="java.lang.String" resultMap="selectMemberVo">
        SELECT  EMAIL,
                PWD,
                MEMBER_TP
        FROM    tb_s020.tb_s020_member010
        WHERE   EMAIL = #{email}
    </select>

</mapper>