<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021100080">
    <select id="selectList" parameterType="com.swontech.s02.domain.vo.s021.S021100080Vo$SelectListVo" resultType="com.swontech.s02.domain.dto.s021.S021100080Dto$SelectListResponse">
        SELECT	E010.EVENT_ID,
                E010.EVENT_NM	AS EVENT_NM_0,
                E010.EVENT_HOST_ID,
                (SELECT M010.MEMBER_NAME
                FROM	TB_S020.TB_S020_MEMBER010  M010
                WHERE	M010.MEMBER_ID = E010.EVENT_HOST_ID) AS	EVENT_HOST_NAME,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 1,
                E020.EVENT_PAY_USER_ID, NULL)) AS PAY_LEVEL_1,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 1,
                (SELECT MEMBER_NAME FROM TB_S020.TB_S020_MEMBER010  M010
                WHERE   M010.MEMBER_ID = E020.EVENT_PAY_USER_ID), NULL)) AS PAY_LEVEL0_1_NAME,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 1,
                E020.EVENT_PAY_ROLE_CD, NULL)) AS PAY_NM_1,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 2,
                E020.EVENT_PAY_USER_ID, NULL)) AS PAY_LEVEL_2,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 2,
                (SELECT MEMBER_NAME FROM TB_S020.TB_S020_MEMBER010  M010
                WHERE   M010.MEMBER_ID = E020.EVENT_PAY_USER_ID), NULL)) AS PAY_LEVEL0_2_NAME,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 2,
                E020.EVENT_PAY_ROLE_CD, NULL)) AS PAY_NM_2,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 3,
                E020.EVENT_PAY_USER_ID, NULL)) AS PAY_LEVEL_3,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 3,
                (SELECT MEMBER_NAME FROM TB_S020.TB_S020_MEMBER010  M010
                WHERE M010.MEMBER_ID = E020.EVENT_PAY_USER_ID), NULL)) AS PAY_LEVEL0_3_NAME,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 3,
                E020.EVENT_PAY_ROLE_CD, NULL)) AS PAY_NM_3,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 4,
                E020.EVENT_PAY_USER_ID, NULL)) AS PAY_LEVEL_4,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 4,
                (SELECT MEMBER_NAME FROM TB_S020.TB_S020_MEMBER010  M010
                WHERE   M010.MEMBER_ID = E020.EVENT_PAY_USER_ID), NULL)) AS PAY_LEVEL0_4_NAME,
                GROUP_CONCAT(IF(E020.EVENT_PAY_LEVEL = 4, E020.EVENT_PAY_ROLE_CD, NULL)) AS PAY_NM_4,
                E010.EVENT_BUDGET_AMOUNT,
                E010.EVENT_LEVEL,
                E010.PAY_FLAG,
                E010.HIGH_EVENT_ID,
                E010.EVENT_ID,
                E010.EVENT_NM,
                E010.EVENT_TP,
                E010.EVENT_COMMENT
        FROM 	TB_S020.TB_S020_EVENT010  E010
                LEFT OUTER JOIN TB_S020.TB_S020_EVENT020  E020
                ON E010.EVENT_ID	= E020.EVENT_ID
        WHERE	E010.ORG_ID = #{orgId}
        AND		E010.EVENT_NM LIKE CONCAT('%', #{eventNm}, '%')
        AND		E010.EVENT_LEVEL = 0
        AND		E010.DATA_END_STATUS IS NULL
        GROUP BY 	E010.EVENT_ID,
                    E010.EVENT_NM,
                    E010.EVENT_BUDGET_AMOUNT,
                    E010.EVENT_FINAL_FLAG,
                    E010.EVENT_HOST_ID,
                    E010.EVENT_LEVEL,
                    E010.PAY_FLAG
    </select>
</mapper>