<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021300010">
    <select id="selectCodeListVO" resultType="java.util.Map" parameterType="com.swontech.s02.domain.dto.S021.S021300010Dto$RetrieveWord">
        SELECT  /* S021300010코드관리화면 코드 조회 S021300010.selectCodeListVO Created By MSH */
                CD_TP, 		                                                -- 코드
                CD_TP_MEANING, 	                                            -- 코드명
                CD_V, 		                                                -- 코드값
                CD_V_MEANING, 	                                            -- 코드값명
                CATEGORY,		                                            -- 카테고리
                (CASE DATA_END_STATUS 	WHEN NULL
                                        THEN NULL
                                        ELSE 'Y'
                                        END) DATA_END_STATUS                -- 종료여부
        FROM    tb_s020.tb_s020_code010 CODE
        WHERE   1 = 1
        <if test='orgId != null and orgId != ""'>
        AND     ORG_ID = #{orgId}                                           -- 검색조건의 조직ID
        </if>
        <if test='cdTp != null and cdTp != ""'>
        AND     CD_TP LIKE '%'|| #{cdTp} ||'%'	                            -- 검색조건의 코드
        </if>
        <if test='cdTpMeaning != null and cdTpMeaning != ""'>
        AND     CD_TP_MEANING LIKE '%'|| #{cdTpMeaning} ||'%'               -- 검색조건의 코드명
        </if>
    </select>

    <update id="deleteCodeVO" parameterType="com.swontech.s02.domain.dto.S021.S021300010Dto$PatchCodeStatus">
        UPDATE  /* S021300010코드관리화면 코드삭제 S021300010.deleteCodeVO Created By MSH */
                tb_s020.tb_s020_code010
        SET     DATA_END_STATUS = ‘*’,
                DATA_END_PROGRAM_ID = 'S021300010',     -- 프로그램 ID
                DATA_END_TIMESTAMP = SYSDATE
        WHERE   1 = 1
                <if test='orgId != null and orgId != ""'>
        AND     ORG_ID = #{orgId}                       -- 화면의 ORG_ID
                </if>
                <if test='cdTp != null and cdTp != ""'>
        AND     CD_TP = #{cdTp}                         -- 선택한 코드
                </if>
    </update>

    <update id="restoreCodeVO" parameterType="com.swontech.s02.domain.dto.S021.S021300010Dto$PatchCodeStatus">
        UPDATE  /* S021300010코드관리화면 삭제코드복원 S021300010.restoreCodeVO Created By MSH */
                tb_s020.tb_s020_code010
        SET     DATA_END_STATUS = NULL,
                DATA_END_PROGRAM_ID = NULL, -- 프로그램 ID
                DATA_END_TIMESTAMP = NULL
        WHERE   1 = 1
                <if test='orgId != null and orgId != ""'>
        AND     ORG_ID = #{orgId}           -- 화면의 ORG_ID
                </if>
                <if test='cdTp != null and cdTp != ""'>
        AND     CD_TP = #{cdTp}             -- 선택한 코드
                </if>
    </update>
</mapper>
