<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S021100020">
    <insert id="insertOrgVo">
        INSERT INTO TB_S020.TB_S020_ORG010 (
            /* S021300010단체 등록/수정 화면 S021100020.insertOrgVo Created By MSH */
            ORG_ID,
            ORG_NAME,
            ZIP_CODE,
            ADDRESS,
            DETAIL_ADDRESS,
            TEL_NO,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID
        ) VALUES (
            SEQUENCE,
            #{orgName},		    -- 단체명
            #{zipCode},		    -- 우편번호
            #{address},		    -- 주소
            #{detailAddress},	-- 상세주소
            #{firstTelNo}       -- 앞 번호
            || '-' ||
            #{midTelNo}         -- 중간 번호
            || '-' ||
            #{lastTelNo},       -- 마지막 번호
            SYSDATE,
            's021100020',
            SYSDATE,
            's021100020'
        )
    </insert>

</mapper>