<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A2000">
    <select id="moblieQRScanEventList" resultType="com.swontech.s02.domain.dto.s022.S0221A2000Dto$MoblieQRScanEventList" parameterType="com.swontech.s02.domain.vo.s022.S0221A2000Vo$MoblieQRScanEventListVo">
        select 	event_id,
                event_nm,
                PAY_FLAG,
                high_event_id,
                id_path_priortiy,
                org_id,
                event_code,
                event_final_flag,
                event_start_date,
                event_end_date,
                event_tp,
                event_status
        from	tb_s020.event_hierarchy_view
        where 	event_final_flag = 'Y'
        and		now() between event_start_date and event_end_date
        and		event_tp = 'A'
        and		event_status = 'A'
        and		org_id = #{orgId}
        and		event_code = #{eventCode}
    </select>
</mapper>