<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A0010">
    <select id="mobileInitUserInfo" parameterType="com.swontech.s02.domain.vo.s022.S0221A0010Vo$MobileInitUserInfoVo" resultType="com.swontech.s02.domain.dto.s022.S0221A0010Dto$MobileInitUserInfo">
        SELECT	E010.EVENT_ID,		-- 부서(행사) ID
                E010.EVENT_NM, 		-- 소속부서 (행사)
                E020.EVENT_PAY_ROLE_CD	-- 담당직책
        FROM	TB_S020.TB_S020_EVENT020 E020
                INNER JOIN TB_S020.TB_S020_EVENT010 E010
                    ON E010.EVENT_ID = E020.EVENT_ID
                INNER JOIN TB_S020.TB_S020_MEMBER010 M010
                    ON	M010.MEMBER_ID	= E020.EVENT_PAY_USER_ID
        WHERE	E010.EVENT_CODE = #{eventCode}
        AND		M010.HP_NO = #{hpNo}
    </select>

    <select id="mobileInitUseStateCnt" parameterType="com.swontech.s02.domain.vo.s022.S0221A0010Vo$MobileInitUseStateCntVo" resultType="com.swontech.s02.domain.dto.s022.S0221A0010Dto$MobileInitUseStateCnt">
        WITH RECURSIVE CTE AS (
            SELECT	E010.EVENT_ID,
                    E010.EVENT_NM,
                    E010.EVENT_LEVEL AS LEV,
                    E010.PAY_FLAG,
                    E010.HIGH_EVENT_ID,
                    CAST(E010.EVENT_ID AS CHAR) AS ID_PATH,
                    E010.EVENT_ID AS ID_PATH_PRIORTIY,
                    E010.ORG_ID,
                    E010.EVENT_CODE
            FROM 	TB_S020.TB_S020_EVENT010  E010
            WHERE	E010.EVENT_CODE = #{eventCode}
            AND		EVENT_LEVEL = 0

            UNION ALL

            SELECT	E010_2.EVENT_ID,
                    E010_2.EVENT_NM,
                    TEMP.LEV + 1 AS LEV,
                    E010_2.PAY_FLAG,
                    E010_2.HIGH_EVENT_ID,
                    CONCAT(TEMP.ID_PATH,'-', E010_2.EVENT_ID) AS ID_PATH,
                    TEMP.ID_PATH_PRIORTIY,
                    TEMP.ORG_ID,
                    TEMP.EVENT_CODE
            FROM	TB_S020.TB_S020_EVENT010  E010_2
                    INNER JOIN CTE  TEMP ON E010_2.HIGH_EVENT_ID = TEMP.EVENT_ID
        )
        SELECT	COUNT(E030.EVENT_USE_ID) CNT,
                E030.USE_PRO_STATUS,
                (SELECT	CD_V_MEANING
                FROM	TB_S020.TB_S020_CODE010
                WHERE	CD_TP = 'USE_PRO_STATUS'
                AND		CD_V = E030.USE_PRO_STATUS
                AND		CATEGORY = '000') USE_PRO_STATUS_NM
        FROM	CTE
                INNER JOIN TB_S020.TB_S020_EVENT030  E030
                    ON CTE.EVENT_ID = E030.EVENT_ID
        WHERE	E030.USE_PRO_STATUS IN ('A', 'B', 'C', 'D')
        AND		E030.EVENT_USER_ID = (SELECT MEMBER_ID
                                     FROM	 TB_S020.TB_S020_MEMBER010 M010
                                     WHERE	 M010.HP_NO = #{hpNo}
                                     AND	 M010.ORG_ID = CTE.ORG_ID)
        GROUP BY	E030.USE_PRO_STATUS
        ORDER BY 	E030.USE_PRO_STATUS
    </select>
    
    <select id="mobileInitPayCnt" resultType="com.swontech.s02.domain.dto.s022.S0221A0010Dto$MobileInitPayCnt" parameterType="com.swontech.s02.domain.vo.s022.S0221A0010Vo$MobileInitPayCntVo">
        WITH RECURSIVE CTE AS (
            SELECT	E010.EVENT_ID,
                    E010.EVENT_NM,
                    E010.EVENT_LEVEL AS LEV,
                    E010.PAY_FLAG,
                    E010.HIGH_EVENT_ID,
                    CAST(E010.EVENT_ID AS CHAR ) AS ID_PATH,
                    E010.EVENT_ID AS ID_PATH_PRIORTIY,
                    E020.EVENT_PAY_USER_ID,
                    E020.EVENT_PAY_LEVEL,
                    E010.ORG_ID,
                    E010.EVENT_CODE
            FROM 	TB_S020.TB_S020_EVENT010  E010
                    LEFT OUTER JOIN TB_S020.TB_S020_EVENT020  E020
                    ON E010.EVENT_ID = E020.EVENT_ID
            WHERE	E010.EVENT_CODE = #{eventCode}
            AND		EVENT_LEVEL = 0

            UNION ALL

            SELECT	E010_2.EVENT_ID,
                    E010_2.EVENT_NM,
                    TEMP.LEV + 1 AS LEV,
                    E010_2.PAY_FLAG,
                    E010_2.HIGH_EVENT_ID,
                    CONCAT(TEMP.ID_PATH,'-', E010_2.EVENT_ID) AS ID_PATH,
                    TEMP.ID_PATH_PRIORTIY,
                    TEMP.EVENT_PAY_USER_ID,
                    TEMP.EVENT_PAY_LEVEL,
                    TEMP.ORG_ID,
                    TEMP.EVENT_CODE
            FROM	TB_S020.TB_S020_EVENT010 E010_2
                    INNER JOIN CTE TEMP ON E010_2.HIGH_EVENT_ID = TEMP.EVENT_ID
        )
        SELECT	COUNT(E030.EVENT_USE_ID) PAY_CNT		-- 결제건수
        FROM	CTE
                INNER JOIN TB_S020.TB_S020_EVENT030 E030
                    ON CTE.EVENT_ID = E030.EVENT_ID
                    AND CTE.EVENT_PAY_LEVEL	= E030.PAY_CURRENT_STEP
                    AND	E030.EVENT_USER_ID != CTE.EVENT_PAY_USER_ID
                INNER JOIN TB_S020.TB_S020_EVENT010 E010_2
                    ON CTE.EVENT_ID = E010_2.EVENT_ID
        WHERE	CTE.PAY_FLAG = 'Y'
        AND		E010_2.EVENT_FINAL_FLAG = 'Y'
        AND		E030.USE_PRO_STATUS IN ('A', 'B')
        AND		CTE.EVENT_PAY_USER_ID = (SELECT MEMBER_ID
                                        FROM	TB_S020.TB_S020_MEMBER010 M010
                                        WHERE	M010.HP_NO = #{hpNo}
                                        AND		M010.ORG_ID = CTE.ORG_ID)
    </select>
</mapper>