<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A2000">
    <select id="moblieQRScanEventList" resultType="com.swontech.s02.domain.dto.s022.S0221A2000Dto$MoblieQRScanEventList" parameterType="com.swontech.s02.domain.vo.s022.S0221A2000Vo$MoblieQRScanEventListVo">
        WITH RECURSIVE CTE AS (
            SELECT  EVENT010.EVENT_ID,
                    EVENT010.EVENT_NM,
                    EVENT010.PAY_FLAG,
                    EVENT010.HIGH_EVENT_ID,
                    EVENT010.EVENT_ID AS ID_PATH_PRIORTIY,
                    EVENT010.ORG_ID,
                    EVENT010.EVENT_CODE,
                    EVENT010.EVENT_FINAL_FLAG,
                    EVENT010.EVENT_START_DATE,
                    EVENT010.EVENT_END_DATE,
                    EVENT010.EVENT_TP,
                    EVENT010.EVENT_STATUS
            FROM 	TB_S020.TB_S020_EVENT010 EVENT010
            WHERE	ORG_ID = #{orgId}
            AND		EVENT010.EVENT_CODE = #{eventCode}
            AND		EVENT_LEVEL = 0

            UNION ALL

            SELECT	EVENT010_2.EVENT_ID,
                    EVENT010_2.EVENT_NM,
                    EVENT010_2.PAY_FLAG,
                    EVENT010_2.HIGH_EVENT_ID,
                    TEMP.ID_PATH_PRIORTIY,
                    TEMP.ORG_ID,
                    TEMP.EVENT_CODE,
                    EVENT010_2.EVENT_FINAL_FLAG,
                    EVENT010_2.EVENT_START_DATE,
                    EVENT010_2.EVENT_END_DATE,
                    EVENT010_2.EVENT_TP,
                    EVENT010_2.EVENT_STATUS
            FROM	TB_S020.TB_S020_EVENT010 EVENT010_2
            INNER JOIN CTE TEMP
            ON EVENT010_2.HIGH_EVENT_ID = TEMP.EVENT_ID
        )
        SELECT	EVENT_ID,
                EVENT_NM,
                ID_PATH_PRIORITY,
                ORG_ID,
                EVENT_CODE,
                EVENT_START_DATE,
                EVENT_END_DATE,
                EVENT_TP,
                EVENT_STATUS
        FROM 	CTE
        WHERE	EVENT_FINAL_FLAG = 'Y'
        AND		NOW() BETWEEN EVENT_START_DATE AND EVENT_END_DATE
        AND		EVENT_TP = 'A'
        AND		EVENT_STATUS = 'A'
    </select>
</mapper>