<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A0020">
    <select id="selectMobileId" resultType="java.lang.Integer" parameterType="com.swontech.s02.domain.vo.s022.S0221A0020Vo$SelectMobileId">
        SELECT  COUNT(*)
        FROM    tb_s020_member010
        WHERE   MOBILE_ID = #{mobileId}
    </select>

    <select id="insertEnter" parameterType="com.swontech.s02.domain.vo.s022.S0221A0020Vo$InsertEnterVo">
        INSERT INTO tb_s020_enter010 (
            MEMBER_ID,
            ENTER_DATE,
            EVENT_ID,
            ENTER_FLAG,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID
        ) VALUES (
            #{memberId}
            SYSDATE(),
            #{eventId}
            'Y',
            SYSDATE(),
            'S0221A0020'
        )
    </select>
</mapper>