<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S022300010">
    <select id="selectCostPayProTotList" parameterType="com.swontech.s02.domain.vo.s022.S022300010Vo$ParamsVo" resultType="com.swontech.s02.domain.dto.s022.S022300010Dto$CostPayProTotList">
        SELECT  E030.EVENT_USE_ID,                     -- 비용등록ID
                E030.EVENT_USER_ID,                                       -- 작성자ID
                M010.MEMBER_NAME,                                       -- 작성자
                PRI.NAME_PATH_PRIORTIY,                                    -- 발의부서
                PRI.EVENT_NM,                                          -- 행사명
                E030.USE_SUBJECT,                                       -- 비용사용제목
                E030.USED_DATE,                                          -- 사용일자
                E030.USE_AMOUNT,                                       -- 사용금액
                E030.USE_PRO_STATUS,                                    -- 진행상태코드
                C010.CD_V_MEANING AS  STATUS_NM,                           -- 진행상태명
        (SELECT   MEMBER_NAME
        FROM   TB_S020.TB_S020_EVENT020 E020
        INNER JOIN  TB_S020.TB_S020_MEMBER010   M010
        ON E020.EVENT_PAY_USER_ID = M010.MEMBER_ID
        WHERE   E020.EVENT_ID = PRI.ID_PATH_PRIORTIY
        AND   E020.EVENT_PAY_LEVEL = E030.PAY_CURRENT_STEP) AS PAYER_NM   -- 결제자명,
        FROM    TB_S020.EVENT_HIERARCHY_VIEW PRI
        INNER JOIN TB_S020.TB_S020_EVENT030 E030
        ON PRI.EVENT_ID = E030.EVENT_ID
        INNER JOIN TB_S020.TB_S020_MEMBER010   M010
        ON  E030.EVENT_USER_ID = M010.MEMBER_ID
        INNER JOIN TB_S020.TB_S020_CODE010 C010
        ON   E030.USE_PRO_STATUS = C010.CD_V
        AND   C010.CD_TP = 'USE_PRO_STATUS'
        AND   C010.ORG_ID = 0
        AND C010.CATEGORY = '000'

        WHERE    E030.USED_DATE BETWEEN #{fromUsedDate} AND #{toUsedDate} -- 사용일자 FROM / TO
        AND      M010.MEMBER_NAME LIKE CONCAT('%', #{memberName}, '%')             -- 작성자명
        AND      PRI.NAME_PATH_PRIORTIY LIKE CONCAT('%',#{namePathPriortiy}, '%')  -- 발의부서명
        AND      E030.USE_PRO_STATUS = IF(#{useProStatus} = "", E030.USE_PRO_STATUS, #{useProStatus})             -- 진행상태코드
        AND      PRI.ORG_ID = #{orgId}
    </select>

    <select id="selectCostPayProTotDetailHead" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s022.S022300010Dto$CostPayProTotDetailHead">
        SELECT	E030.EVENT_USE_ID,
                E030.EVENT_USER_ID,
                M010.MEMBER_NAME,
                PRI.NAME_PATH_PRIORTIY,
                E030.USED_DATE,
                E030.USE_AMOUNT,
                E030.USE_PRO_STATUS,
                C010.CD_V_MEANING AS	STATUS_NM,
                E030.USE_RECEIPT_NAME,
                E030.USE_RECEIPT_ID,
                E030.USE_SUBJECT,
                PRI.EVENT_NM,
                E030.USE_COMMENT,
                M010.ACCOUNT_NO,
                M010.BANK_NM
        FROM 	TB_S020.TB_S020_EVENT030 E030
        INNER JOIN TB_S020.EVENT_HIERARCHY_VIEW PRI
        ON PRI.EVENT_ID = E030.EVENT_ID
        INNER JOIN TB_S020.TB_S020_MEMBER010	M010
        ON  E030.EVENT_USER_ID = M010.MEMBER_ID
        AND	PRI.ORG_ID = M010.ORG_ID
        INNER JOIN TB_S020.TB_S020_CODE010 C010
        ON	E030.USE_PRO_STATUS = C010.CD_V
        AND	C010.CD_TP = 'USE_PRO_STATUS'
        AND	C010.ORG_ID = 0
        AND C010.CATEGORY = '000'
        WHERE	E030.EVENT_USE_ID = #{eventUseId}					-- 선택한 event_use_id
    </select>
    <select id="selectCostPayProTotDetailLine" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s022.S022300010Dto$CostPayProTotDetailLine">
        SELECT	E040.EVENT_USE_PAY_ID,
                E040.PAY_MEMBER_ID,
                M010_1.MEMBER_NAME AS PAYER_NAME,
                E040.PAY_RESULT_FLAG,
                CASE	WHEN E040.PAY_RESULT_FLAG = 'Y' THEN '승인'
                WHEN E040.PAY_RESULT_FLAG = 'N' THEN '반려'
                END		PAY_RESULT_NM,		-- 행사 비용 사용 결제결과코드명
                E040.PAY_DATE,
                E040.PAY_COMMENT
        FROM 	TB_S020.TB_S020_EVENT030 E030
        LEFT OUTER JOIN TB_S020.TB_S020_EVENT040 E040
        ON	E030.EVENT_USE_ID = E040.EVENT_USE_ID
        INNER JOIN TB_S020.TB_S020_MEMBER010	M010_1
        ON	E040.PAY_MEMBER_ID =  M010_1.MEMBER_ID
        WHERE	E030.EVENT_USE_ID = #{eventUseId}
    </select>

    <insert id="insertCostPayHistory" parameterType="com.swontech.s02.domain.vo.s022.S022300010Vo$RegisterCostPayReqVo">
        INSERT INTO TB_S020.TB_S020_EVENT040
        (EVENT_USE_PAY_ID,
            CREATE_OBJECT_ID,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            LAST_OBJECT_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID,
            EVENT_USE_ID,
            PAY_STEP,
            PAY_MEMBER_ID,
            PAY_RESULT_FLAG,
            PAY_COMMENT,
            PAY_DATE
        ) VALUES (
              NEXTVAL(TB_S020.SQ_S020_EVENT040)
            , #{payMemberId}	/* 로그인 MEMBER_ID*/
            , SYSDATE()
            , 'S022300020'
            , #{payMemberId}	/* 로그인 MEMBER_ID*/
            , SYSDATE()
            , 'S022300020'
            , #{eventUseId}    /* 선택된 EVENT_USE_ID*/
            , '6'               /* 결제단계 */
            , #{payMemberId}    /* 로그인 MEMBER_ID*/
            , 'Y'
            ,'비용지급'
            , SYSDATE()
        );
    </insert>
    <update id="updateCostPayProgressStatus" parameterType="com.swontech.s02.domain.vo.s022.S022300010Vo$UpdateCostPayReqVo">
        UPDATE	TB_S020.TB_S020_EVENT030
           SET  LAST_OBJECT_ID = #{memberId}
                ,UPDATE_TIMESTAMP = SYSDATE()
                ,UPDATE_PROGRAM_ID = 'S022300020'
                ,USE_PRO_STATUS ='D'
                ,PAY_CURRENT_STEP = '6'
        WHERE	EVENT_USE_ID = #{eventUseId}
    </update>

</mapper>