<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A0090">
    <select id="costPayList" resultType="com.swontech.s02.domain.dto.s022.S0221A0090Dto$CostPayList" parameterType="com.swontech.s02.domain.vo.s022.S0221A0090Vo$CostPayListVo">
        select 	e030.event_use_id,
                e030.event_id,
                e030.event_user_id,
                (select m010.member_name
                from	tb_s020.tb_s020_member010  m010
                where	m010.member_id	= e030.event_user_id ) member_name,
                e030.used_date,
                e030.use_amount,
                e030.use_comment,
                e030.use_receipt_id,
                e030.use_receipt_name,
                e030.use_subject,
                (select m010.member_name
                from	tb_s020.tb_s020_member010  m010
                inner join tb_s020.tb_s020_event020  e020
                on 	vi.id_path_priortiy = e020.event_id
                and	e020.event_pay_level = e030.pay_current_step
                and	m010.member_id	= e020.event_pay_user_id)    pay_name,
                e030.USE_PRO_STATUS,
                (select	cd_v_meaning
                from	tb_s020.tb_s020_code010
                where	cd_tp = 'USE_PRO_STATUS'
                and		cd_v = e030.USE_PRO_STATUS
                and		CATEGORY = '000')	USE_PRO_STATUS_nm
        from 	tb_s020.tb_s020_member010  m010
                inner join tb_s020.tb_s020_event020  e020
        on m010.member_id = e020.event_pay_user_id
        inner join event_hierarchy_view vi
        on	e020.event_id = vi.id_path_priortiy
        inner join tb_s020.tb_s020_event030  e030
        on e030.event_id = vi.event_id
        and	e030.pay_current_step = e020.event_pay_level
        where	vi.event_code = #{eventCode}
        and		m010.member_id = #{eventPayUserId}
        and		vi.pay_flag = 'Y'
        and		vi.event_final_flag = 'Y'
        and		e030.use_pro_status in ('A', 'B')
        and		e030.USED_DATE BETWEEN STR_TO_DATE(#{fromDate}, '%Y-%m-%d') AND STR_TO_DATE(#{toDate}, '%Y-%m-%d')
    </select>

    <select id="selectCostReqList" resultType="com.swontech.s02.domain.dto.s022.S0221A0090Dto$CostReqResponse" parameterType="com.swontech.s02.domain.vo.s022.S0221A0090Vo$SelectCostReqVo">
        SELECT	EVENT010.EVENT_ID,			-- 행사ID
                EVENT010.EVENT_NM,			-- 행사명
                EVENT020.EVENT_PAY_USER_ID,	-- 행사비용사용현재결제자ID
                EVENT030.EVENT_USE_ID,		-- 행사비용ID
                EVENT030.EVENT_USER_ID,		-- 행사비용사용자ID
                EVENT030.USED_DATE,			-- 행사비용사용일자
                EVENT030.USE_AMOUNT,		-- 행사비용사용금액
                EVENT030.USE_COMMENT,		-- 행사비용사용내용
                EVENT030.USE_RECEIPT_ID,	-- 행사비용첨부파일ID
                EVENT030.USE_PRO_STATUS,	-- 행사비용사용진행상태
                EVENT030.USE_SUBJECT,		-- 행사비용사용제목
                EVENT030.PAY_STEP_CNT,		-- 행사비용사용결제총단계수
                EVENT030.PAY_CURRENT_STEP,	-- 행사비용사용결제현재단계
                -- 행사비용사용진행상태명
                (SELECT	CD_V_MEANING
                FROM	tb_s020.tb_s020_code010
                WHERE	CD_TP = 'USE_PRO_STATUS'
                AND		CD_V = EVENT030.USE_PRO_STATUS
                AND		CATEGORY = '000'
                AND		ORG_ID	 = EVENT010.ORG_ID) USE_PRO_STATUS_NM,
                -- 행사비용사용현재결제자명
                (SELECT	MEMBER010.MEMBER_NAME
                FROM	tb_s020.tb_s020_member010 MEMBER010
                WHERE	EVENT020.EVENT_PAY_USER_ID = MEMBER010.MEMBER_ID) MEMBER_NAME,
                -- 행사비용사용자명
                (SELECT	MEMBER010.MEMBER_NAME
                FROM	tb_s020.tb_s020_member010 MEMBER010
                WHERE	EVENT030.EVENT_USER_ID = MEMBER010.MEMBER_ID) USER_MEMBER_NAME
        FROM	tb_s020.tb_s020_event010 EVENT010,
                tb_s020.tb_s020_event020 EVENT020,
                tb_s020.tb_s020_event030 EVENT030
        WHERE 	EVENT010.EVENT_ID = EVENT020.EVENT_ID
        AND 	EVENT020.EVENT_ID = EVENT030.EVENT_ID
        AND 	EVENT020.EVENT_PAY_LEVEL = EVENT030.PAY_CURRENT_STEP
        AND 	EVENT030.USED_DATE BETWEEN STR_TO_DATE(#{fromDate}, '%Y-%m-%d') AND STR_TO_DATE(#{toDate}, '%Y-%m-%d')
        AND 	EVENT020.EVENT_PAY_USER_ID = #{mobileMemberId}
    </select>
</mapper>