<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S022300080">
    <select id="selectEventLov" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s022.S022300080Dto$SelectEventLov">
        SELECT 	EVENT_NM,
                EVENT_ID
        FROM 	TB_S020.EVENT_HIERARCHY_VIEW  VI
        WHERE	VI.ORG_ID = #{orgId}
        AND		DATA_END_STATUS IS NULL
        AND		EVENT_FINAL_FLAG = 'Y'
        AND		SYSDATE() BETWEEN EVENT_START_DATE AND EVENT_END_DATE
    </select>

    <select id="selectEnterList" resultType="com.swontech.s02.domain.dto.s022.S022300080Dto$AttendListResponse"
                                 parameterType="com.swontech.s02.domain.vo.s022.S022300080Vo$SelectEnterListVo">
        <include refid="common.pagingTop"/>
        SELECT 	M010.MEMBER_ID,
                M010.MEMBER_NAME,
                M010.HP_NO,
                VI.EVENT_ID,
                ENT010.ENTER_DATE,
                ENT010.ENTER_FLAG,
                VI.EVENT_START_DATE,
                VI.EVENT_END_DATE,
                VI.ORG_ID
                ,VI.EVENT_NM    /* 2022.11.03 kjy */
        FROM 	TB_S020.EVENT_HIERARCHY_VIEW  VI
                INNER JOIN TB_S020.TB_S020_EVENT020 E020
                ON  VI.ID_PATH_PRIORTIY = E020.EVENT_ID
                INNER JOIN	TB_S020.TB_S020_MEMBER010 M010
                ON EVENT_PAY_USER_ID = M010.MEMBER_ID
                AND	M010.DATA_END_STATUS IS NULL
                LEFT OUTER JOIN TB_S020.TB_S020_ENTER010   ENT010
                ON M010.MEMBER_ID = ENT010.MEMBER_ID
                AND VI.EVENT_ID = ENT010.EVENT_ID
        WHERE	VI.EVENT_ID = #{eventId}
        and		M010.member_name like CONCAT('%', IFNULL(#{memberName}, '') , '%')	-- 성명
        and		M010.hp_no like CONCAT('%', IFNULL(#{hpNo}, '') , '%')			    -- HP 번호
        and		IFNULL(ent010.enter_flag, 'N') = IFNULL(NULL , 'N')
        AND		VI.DATA_END_STATUS IS NULL
        AND		VI.EVENT_FINAL_FLAG = 'Y'
        AND		SYSDATE() BETWEEN VI.EVENT_START_DATE AND VI.EVENT_END_DATE
        <include refid="common.pagingBottom"/>
    </select>

    <insert id="insertEnter" parameterType="java.util.List">
        INSERT INTO tb_s020_enter010 (
            EVENT_ID,
            MEMBER_ID,
            ENTER_DATE,
            ENTER_FLAG
        ) VALUES
        <foreach collection="list" item="vo" separator=", ">
        (
            #{vo.eventId},
            #{vo.memberId},
            SYSDATE(),
            'Y'
        )
        </foreach>
    </insert>

    <delete id="deleteEnter" parameterType="java.util.List">
        DELETE  FROM tb_s020_enter010
        WHERE   EVENT_ID IN (
            <foreach collection="list" item="vo" separator=", ">
                #{vo.eventId}
            </foreach>
            )
        AND     MEMBER_ID IN (
            <foreach collection="list" item="vo" separator=", ">
                #{vo.memberId}
            </foreach>
            )
    </delete>

</mapper>