<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A0060">
    <select id="selectPayInfo" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s022.S0221A0060Dto$PayInfo">
        SELECT   EVENT010.PAY_FLAG,
                ifnull(max(EVENT020.EVENT_PAY_LEVEL), 1)-1 EVENT_PAY_DEPT
        FROM   tb_s020.tb_s020_event010 EVENT010
                left outer join  tb_s020.tb_s020_event020 EVENT020
        on    EVENT010.EVENT_ID = EVENT020.EVENT_ID
        WHERE      EVENT010.EVENT_ID = 4
        GROUP BY    EVENT010.EVENT_ID,
        EVENT010.PAY_FLAG,
        EVENT010.EVENT_BUDGET_AMOUNT ;
    </select>
    <select id="selectEventCost" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s022.S0221A0060Dto$SelectEventCostResponse">
        SELECT  EVENT010.PAY_FLAG,
                EVENT030.EVENT_USE_ID,
                EVENT030.EVENT_ID,
                EVENT030.EVENT_USER_ID,
                EVENT030.USED_DATE,
                EVENT030.USE_AMOUNT,
                EVENT030.USE_COMMENT,
                EVENT030.USE_RECEIPT_ID,
                EVENT030.USE_PRO_STATUS,
                EVENT030.USE_SUBJECT
        FROM    tb_s020.tb_s020_event030 EVENT030
        WHERE   EVENT_USE_ID = #{eventUseId}
    </select>

    <update id="updateEventCost" parameterType="com.swontech.s02.domain.vo.s022.S0221A0060Vo$UpdateEventCostVo">
        UPDATE
            tb_s020.tb_s020_event030
        SET
            EVENT_ID = #{eventId},
            EVENT_USER_ID = #{eventUserId},
            USED_DATE = STR_TO_DATE(#{usedDate}, '%Y-%m-%d'),
            USE_AMOUNT = #{useAmount},
            USE_COMMENT = #{useComment},
            USE_RECEIPT_ID = #{useReceiptId},
            USE_SUBJECT = #{useSubject},
            UPDATE_TIMESTAMP = SYSDATE(),
            UPDATE_PROGRAM_ID = 'S0221A0060'
        WHERE
            EVENT_USE_ID = #{eventUseId}
    </update>

    <insert id="insertEventCost" parameterType="com.swontech.s02.domain.vo.s022.S0221A0060Vo$InsertEventCostVo">
        INSERT INTO tb_s020.tb_s020_event030 (
            EVENT_USE_ID,
            EVENT_ID,
            EVENT_USER_ID,
            USED_DATE,
            USE_AMOUNT,
            USE_COMMENT,
            USE_RECEIPT_ID,
            USE_RECEIPT_NAME,
            USE_SUBJECT,
            PAY_STEP_CNT,
            PAY_CURRENT_STEP,
            USE_PRO_STATUS,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID
        ) VALUES (
            NEXTVAL(tb_s020.sq_s020_event010),
            #{eventId},
            #{eventUserId},
            STR_TO_DATE(#{usedDate}, '%Y-%m-%d'),
            #{useAmount},
            #{useComment},
            #{useReceiptId},
            #{useReceiptName},
            #{useSubject},
            #{payStepCnt},
            #{payCurrentStep},
            #{useProStatus},
            SYSDATE(),
            'S0221A0060'
        )
    </insert>

    <update id="deleteEventCost" parameterType="java.lang.Integer">
        UPDATE tb_s020.tb_s020_event030 SET
            UPDATE_TIMESTAMP = SYSDATE(),
            UPDATE_PROGRAM_ID = 'S0221A0060',
            USE_PRO_STATUS = 'F'
        WHERE EVENT_USE_ID = #{eventUseId}
    </update>
</mapper>