<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A0070">
    <select id="selectCostReqList" resultType="com.swontech.s02.domain.dto.s022.S0221A0070Dto$CostReqResponse" parameterType="com.swontech.s02.domain.vo.s022.S0221A0070Vo$SelectCostReqVo">
        select	e030.event_use_id,				-- event_user_id
        e030.event_id,					-- event_id
        e030.event_user_id,				-- 비용 작성자 ID
        e030.used_date,					-- 사용일자
        e030.use_amount,				-- 사용금액
        e030.use_comment,				-- 사용 비고
        e030.use_receipt_id,			-- 첨부파일 ID
        e030.use_receipt_name,			-- 첨부파일 명
        e030.use_subject,				-- 사용제목
        (select m010.member_name
        from	tb_s020.tb_s020_member010  m010
        inner join tb_s020.tb_s020_event020  e020
        on 	cte.id_path_priortiy = e020.event_id
        and	e020.event_pay_level = e030.pay_current_step
        and	m010.member_id	= e020.event_pay_user_id)    pay_name, 	-- 결제자명
        e030.USE_PRO_STATUS,			-- 비용요청 진행상태
        (select	cd_v_meaning
        from	tb_s020.tb_s020_code010
        where	cd_tp = 'USE_PRO_STATUS'
        and		cd_v = e030.USE_PRO_STATUS
        and		CATEGORY = '000')	USE_PRO_STATUS_nm	-- 비용요청 진행상태명
        from	event_hierarchy_view	cte
        inner join tb_s020.tb_s020_event030  e030
        on 	cte.event_id = e030.event_id
        where	cte.event_code = #{eventCode}
        and		e030.event_user_id = #{mobileMemberId}
        and		e030.USED_DATE between STR_TO_DATE(#{fromDate}, '%Y-%m-%d') and STR_TO_DATE(#{toDate}, '%Y-%m-%d')
    </select>
</mapper>