<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A0030">
    <select id="selectMemberExistFlag" parameterType="com.swontech.s02.domain.vo.s022.S0221A0030Vo$SelectMemberExistFlagVo" resultType="com.swontech.s02.domain.dto.s022.S0221A0030Dto$MobileMemberExistFlag">
        select	m010.member_id,
                m010.member_name,
                e010.org_id,
                m010.hp_no,
                m010.MOBILE_ID,
                m010.member_tp,
                m010.mobile_login_date,
                CONCAT(org010.org_name, '@', e010.event_id, '@', e010.event_nm) as org_event_name,
                e010.event_id,
                (select concat(e020.event_id, '-', e020.event_pay_user_id)
                from	tb_s020.tb_s020_event020 e020
                where	e020.event_id = e010.event_id
                and		e020.event_pay_user_id = m010.member_id) as event_pay_user_id
        from	tb_s020.tb_s020_event010  e010
        inner join tb_s020.tb_s020_org010 org010
        on	org010.org_id = e010.org_id
        left outer join tb_s020.tb_s020_member010  m010
        on	org010.org_id = m010.org_id
        and hp_no = #{hpNo}
        where	e010.event_code = #{eventCode}
    </select>

    <insert id="insertMobileMember" parameterType="com.swontech.s02.domain.vo.s022.S0221A0030Vo$InsertMobileMemberVo">
        INSERT INTO tb_s020.tb_s020_member010 (
            MEMBER_ID,
            CREATE_OBJECT_ID,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            LAST_OBJECT_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID,
            ORG_ID,
            MEMBER_NAME,
            HP_NO,
            MEMBER_TP,
            MOBILE_LOGIN_DATE,
            PUSH_TOKEN
        ) VALUES (
            NEXTVAL(tb_s020.sq_s020_member010),
            LASTVAL(tb_s020.sq_s020_member010),
            SYSDATE(),
            'S0221A0030',
            LASTVAL(tb_s020.sq_s020_member010),
            SYSDATE(),
            'S0221A0030',
            #{orgId},
            #{memberName},
            #{hpNo},
            'A',
            SYSDATE(),
            #{pushToken}
        )
        <selectKey resultType="java.lang.Integer" keyProperty="memberId" order="AFTER">
            SELECT  MAX(MEMBER_ID)
            FROM    tb_s020.tb_s020_member010
        </selectKey>
    </insert>

    <insert id="insertMobileMemberEvent" parameterType="com.swontech.s02.domain.vo.s022.S0221A0030Vo$InsertMobileMemberEventVo">
        INSERT INTO tb_s020.tb_s020_event020 (
            EVENT_ID,
            EVENT_PAY_USER_ID,
            CREATE_OBJECT_ID,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            LAST_OBJECT_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID
        ) VALUES (
            #{eventId},
            #{memberId},
            #{memberId},
            SYSDATE(),
            'S0221A0030',
            #{memberId},
            SYSDATE(),
            'S0221A0030'
        )
    </insert>

    <update id="updateMobileMember" parameterType="com.swontech.s02.domain.vo.s022.S0221A0030Vo$UpdateMobileMemberVo">
        UPDATE	tb_s020.tb_s020_member010
        SET		MOBILE_ID           = #{mobileId},
                MOBILE_LOGIN_DATE   = SYSDATE()
        WHERE	MEMBER_ID           = #{memberId}
    </update>

    <update id="updateMobileId" parameterType="com.swontech.s02.domain.vo.s022.S0221A0030Vo$UpdateMobileIdVo">
        UPDATE  tb_s020.tb_s020_member010
        SET     MOBILE_ID = #{mobileId}
        WHERE   MEMBER_ID = #{memberId}
    </update>

    <update id="updateToken" parameterType="com.swontech.s02.domain.vo.s022.S0221A0030Vo$UpdateTokenVo">
        UPDATE tb_s020.tb_s020_member010
        SET	    LAST_OBJECT_ID = #{memberId},		-- 로그인 member_1d
                UPDATE_TIMESTAMP = sysdate(),
                UPDATE_PROGRAM_ID = 's041100020',
                PUSH_TOKEN = #{pushToken},				-- 최초의 기계 단말기 값
                CERTI_NO = null
        WHERE MEMBER_ID = #{memberId}			-- 선택한 member_id
    </update>

    <select id="GetMemberInfoVO" parameterType="com.swontech.s02.domain.vo.s022.S0221A0030Vo$RetrieveTokenVo" resultType="com.swontech.s02.domain.dto.s022.S0221A0030Dto$MobileMemberExistFlag">
        select	m010.certi_no,				-- 인증번호
                m010.push_token,			-- push_token
                m010.member_no,				-- 회원번호
                m010.org_id,				-- org_id
                m010.member_name,			-- 회원명
                m010.hp_no,					-- 핸드폰 번호
                m010.PUSH_TOKEN_TAB,		-- 관리자용 push_token
                m010.MEMBER_TP				-- 회원구분
        from	tb_s020.tb_s020_member010  m010
        inner join tb_s020.tb_s020_org010 as org010
                on	org010.org_id = m010.org_id
                and	org_code = 'AAC'
        where	m010.hp_no = #{hpNo}
    </select>
</mapper>