<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A0080">
    <select id="selectCostReqCurrInfo" resultType="com.swontech.s02.domain.dto.s022.S0221A0080Dto$SelectCostReqCurrInfoDto" parameterType="java.lang.Integer">
        SELECT	PAY_CURRENT_STEP,
                USE_PRO_STATUS
            , (SELECT event_pay_dept  /* 2022.11.09 kjy-결제자수 변경된 경우 */
                 FROM TB_S020.EVENT_HIERARCHY_VIEW
                WHERE EVENT_ID = E030.EVENT_ID) AS PAY_STEP_CNT
        FROM 	tb_s020.tb_s020_event030 E030
        WHERE   EVENT_USE_ID = #{eventUseId}
    </select>

    <insert id="insertCostReqProcess" parameterType="com.swontech.s02.domain.vo.s022.S0221A0080Vo$InsertCostReqProcessVo">
        INSERT INTO tb_s020.tb_s020_event040 (
            EVENT_USE_PAY_ID,
            EVENT_USE_ID,
            PAY_STEP,
            PAY_MEMBER_ID,
            PAY_RESULT_FLAG,
            PAY_COMMENT,
            PAY_DATE,
            CREATE_TIMESTAMP,
            CREATE_PROGRAM_ID,
            UPDATE_TIMESTAMP,
            UPDATE_PROGRAM_ID
        ) VALUES (
            nextval(tb_s020.sq_s020_event030),
            #{eventUseId},
            #{payCurrentStep},
            #{payMemberId},
            #{payResultFlag},
            #{payComment},
            DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),
            SYSDATE(),
            'S0221A0080',
            SYSDATE(),
            'S0221A0080'
        )
    </insert>

    <update id="updateCostReqProcess" parameterType="com.swontech.s02.domain.vo.s022.S0221A0080Vo$UpdateCostReqProcessVo">
        UPDATE tb_s020.tb_s020_event030 SET
            USE_PRO_STATUS = #{useProStatus},
            PAY_CURRENT_STEP = #{payCurrentStep}
        WHERE EVENT_USE_ID = #{eventUseId}
    </update>

    <select id="selectCostReqDetailHeader" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s022.S0221A0080Dto$CostReqDetailHeader">
        SELECT	EVENT010.EVENT_ID,				-- 행사ID
                EVENT010.EVENT_NM,				-- 행사명
                EVENT010.PAY_FLAG,				-- 행사 비용 사용 결제여부
                EVENT030.EVENT_USE_ID,			-- 행사 비용 사용ID
                EVENT030.EVENT_USER_ID,			-- 행사 비용 사용자ID
                EVENT030.USED_DATE,				-- 행사 비용 사용일자
                EVENT030.USE_AMOUNT,			-- 행사 비용 사용금액
                EVENT030.USE_COMMENT,			-- 행사 비용 사용 내용
                EVENT030.USE_RECEIPT_ID,		-- 행사 비용 사용 영수증첨부파일ID
                EVENT030.USE_PRO_STATUS,		-- 행사 비용 사용 진행 상태코드
                EVENT030.USE_SUBJECT,			-- 행사 비용 사용 제목
                EVENT030.PAY_STEP_CNT,			-- 행사 비용 사용 결제단계
                EVENT030.PAY_CURRENT_STEP,		-- 행사 비용 사용 현재 결제단계
                EVENT030.USE_RECEIPT_NAME		-- 행사 비용 사용 영수증첨부파일명
        FROM 	tb_s020.tb_s020_event010 EVENT010,
                tb_s020.tb_s020_event030 EVENT030
        WHERE 	EVENT010.EVENT_ID = EVENT030.EVENT_ID
        AND 	EVENT030.EVENT_USE_ID = #{eventUseId}
    </select>

    <select id="selectCostReqDetailTail" parameterType="java.lang.Integer" resultType="com.swontech.s02.domain.dto.s022.S0221A0080Dto$CostReqDetailTail">
        SELECT 	EVENT030.EVENT_ID,              -- 행사 ID
                EVENT030.EVENT_USE_ID,			-- 행사 비용 사용ID
                EVENT040.EVENT_USE_PAY_ID,		-- 행사 비용 사용 결제ID
                EVENT040.PAY_STEP,				-- 행사 비용 사용 결제 단계
                EVENT040.PAY_MEMBER_ID,			-- 행사 비용 사용 결제자 ID
                EVENT040.PAY_RESULT_FLAG,		-- 행사 비용 사용 결제결과 코드
                EVENT040.PAY_COMMENT,			-- 행사 비용 사용 결제 comment
                EVENT040.PAY_DATE,				-- 행사 비용 사용 결제일자

                -- 사용자명
                (SELECT	MEMBER010.MEMBER_NAME
                FROM	tb_s020.tb_s020_member010 MEMBER010
                WHERE	EVENT030.EVENT_USER_ID= MEMBER010.MEMBER_ID) USER_NAME,

                -- 행상비용사용진행상태명
                (SELECT CODE010.CD_V_MEANING
                FROM	tb_s020.tb_s020_code010 CODE010
                WHERE	CODE010.CD_TP = 'USE_PRO_STATUS'
                AND		CODE010.CD_V = EVENT030.USE_PRO_STATUS
                AND		CODE010.CATEGORY = '000'
                AND		CODE010.ORG_ID = (SELECT 	ORG_ID
                                            FROM 	tb_s020.tb_s020_event010 EVENT010
                                           WHERE 	EVENT010.EVENT_ID = EVENT030.EVENT_ID)) USE_PRO_STATUS_NM,

                -- 행사 비용 사용 결제자명
                (SELECT MEMBER010.MEMBER_NAME
                FROM	tb_s020.tb_s020_member010 MEMBER010
                WHERE	EVENT040.PAY_MEMBER_ID = MEMBER010.MEMBER_ID) PAIED_NAME,

                -- 행사 비용 사용 현재단계 결제자명
                (SELECT MEMBER010.MEMBER_NAME
                FROM	tb_s020.tb_s020_event020 EVENT020,
                        tb_s020.tb_s020_member010 MEMBER010
                WHERE	EVENT030.PAY_CURRENT_STEP = EVENT020.EVENT_PAY_LEVEL
                AND 	EVENT030.EVENT_ID = EVENT020.EVENT_ID
                AND		EVENT020.EVENT_PAY_USER_ID = MEMBER010.MEMBER_ID) CURRENT_PAY_NAME,

                -- 행사 비용 사용 결제결과코드명
                CASE 	WHEN EVENT040.PAY_RESULT_FLAG = 'Y' THEN '승인'
                        WHEN EVENT040.PAY_RESULT_FLAG = 'N' THEN '반려'
                        ELSE ''
                        END	 PAY_RESULT_FLAG_NM
        FROM 	tb_s020.tb_s020_event030 EVENT030,
                tb_s020.tb_s020_event040 EVENT040
        WHERE 	EVENT030.EVENT_USE_ID = EVENT040.EVENT_USE_ID
        AND 	EVENT030.EVENT_USE_ID = #{eventUseId}
        ORDER BY EVENT_USE_PAY_ID
    </select>
</mapper>