<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S0221A0010">
    <select id="mobileInitRecentEvent" parameterType="com.swontech.s02.domain.vo.s022.S0221A0010Vo$MobileInitRecentEventVO"
                    resultType="com.swontech.s02.domain.dto.s022.S0221A0010Dto$MobileInitRecentEvent">
        WITH DD	AS (
            SELECT 	EVENT_ID,
                    EVENT_NM,
                    EVENT_START_DATE,
                    EVENT_END_DATE,
                    EVENT_HOST_ID
                   ,EVENT_CODE  /*2022.11.17 kjy */
                   ,EVENT_PATH	/*2022.11.21 kjy */
        FROM 	TB_S020.EVENT_HIERARCHY_VIEW PRI
            WHERE 	ORG_ID = #{orgId}
            AND		EVENT_CODE = #{eventCode}
            AND		EVENT_FINAL_FLAG = 'Y'
            AND		EVENT_TP ='A'
            AND		EVENT_STATUS = 'A'
            AND		SYSDATE() BETWEEN EVENT_START_DATE AND EVENT_END_DATE
            AND		DATA_END_STATUS IS NULL /*2022.11.08 kjy */
            UNION
            SELECT 	EVENT_ID,
                    EVENT_NM,
                    EVENT_START_DATE,
                    EVENT_END_DATE,
                    EVENT_HOST_ID
                   ,EVENT_CODE  /*2022.11.17 kjy */
                   ,EVENT_PATH	/*2022.11.21 kjy */
            FROM 	TB_S020.EVENT_HIERARCHY_VIEW PRI
            WHERE 	ORG_ID = #{orgId}
            AND		EVENT_FINAL_FLAG = 'Y'
            AND		EVENT_TP ='A'
            AND		EVENT_STATUS = 'A'
            AND		SYSDATE() BETWEEN EVENT_START_DATE AND EVENT_END_DATE
            AND		LEV = 0
            AND		DATA_END_STATUS IS NULL /*2022.11.08 kjy */
        )
        SELECT	EVENT_ID,								-- EVENT_ID
                EVENT_CODE,  /*2022.11.17 kjy */
                EVENT_NM,								/*행사명*/
                EVENT_START_DATE,						/*행사시작일자*/
                EVENT_END_DATE,							/*행사종료일자*/
                EVENT_HOST_ID,							/*책임자id*/
                (SELECT M010.MEMBER_NAME
                FROM TB_S020.TB_S020_MEMBER010 M010
                WHERE EVENT_HOST_ID =  M010.MEMBER_ID)  AS EVENT_HOST_NAME	/*책임자명*/
               ,EVENT_PATH	/*2022.11.21 kjy */
        FROM    DD
        ORDER BY EVENT_ID DESC LIMIT 4
    </select>

    <select id="mobileInitUserInfo" parameterType="com.swontech.s02.domain.vo.s022.S0221A0010Vo$MobileInitUserInfoVo" resultType="com.swontech.s02.domain.dto.s022.S0221A0010Dto$MobileInitUserInfo">
        select	m010.member_id,
                m010.member_name,
                m010.hp_no,
                m010.mobile_id,
                m010.mobile_login_date,
                CONCAT(org010.org_name, '@', e010.event_id, '@', e010.event_nm) as org_event_name,
                e010.event_id,
                org010.org_id,
                e010.event_code,
                m010.member_tp,
                e010.event_nm,
                org010.org_name,
        (select	ifnull( concat(e020.event_pay_level, '차결제자'), ifnull(event_pay_role_cd, '일반회원'))
        from	tb_s020.tb_s020_event020  e020
        where	e020.event_id	=	e010.event_id
        and		e020.event_pay_user_id	=	m010.member_id)	as event_role,
        (select	e010_1.event_id
        from	tb_s020.tb_s020_event010  e010_1
        where	e010_1.org_id	= e010.org_id
        and		default_event_flag = 'Y')	default_event_id
            /*2022.11.01 kjy add */
            ,(select USE_REG_FLAG
                from tb_s020.tb_s020_event020
               where event_id =	e010.event_id
                 and event_pay_user_id	=	m010.member_id) as USE_REG_FLAG

        from	tb_s020.tb_s020_event010  e010
        inner join tb_s020.tb_s020_org010 org010
        on	org010.org_id = e010.org_id
        inner join tb_s020.tb_s020_member010  m010
        on	org010.org_id = m010.org_id
        where	e010.event_code = #{eventCode}
        and		m010.hp_no = #{hpNo}
    </select>

    <select id="mobileInitUseStateCnt" parameterType="com.swontech.s02.domain.vo.s022.S0221A0010Vo$MobileInitUseStateCntVo" resultType="com.swontech.s02.domain.dto.s022.S0221A0010Dto$MobileInitUseStateCnt">
        select	count(e030.EVENT_USE_ID)	cnt,
                e030.USE_PRO_STATUS,
                (select	cd_v_meaning
                    from	tb_s020.tb_s020_code010
                    where	cd_tp = 'USE_PRO_STATUS'
                    and		cd_v = e030.USE_PRO_STATUS
                    and		CATEGORY = '000')	USE_PRO_STATUS_nm
            from	tb_s020.tb_s020_event030  e030
                inner join event_hierarchy_view vi
                on	vi.event_id	= e030.event_id
        where	e030.use_pro_status in ('A', 'B', 'C', 'D', 'E', 'F')
        and		vi.event_code = #{eventCode}
        and		e030.event_user_id = (select	member_id
                                        from	tb_s020.tb_s020_member010  m010
                                        where	m010.hp_no = #{hpNo}
                                        and		m010.org_id = vi.org_id)
        group by	e030.USE_PRO_STATUS
    </select>
    
    <select id="mobileInitPayCnt" resultType="com.swontech.s02.domain.dto.s022.S0221A0010Dto$MobileInitPayCnt" parameterType="com.swontech.s02.domain.vo.s022.S0221A0010Vo$MobileInitPayCntVo">
        select 	count(e030.event_use_id)	pay_cnt
        from 	tb_s020.tb_s020_member010  m010
        inner join tb_s020.tb_s020_event020  e020
        on m010.member_id = e020.event_pay_user_id
        inner join event_hierarchy_view vi
        on	e020.event_id = vi.id_path_priortiy
        inner join tb_s020.tb_s020_event030  e030
        on e030.event_id = vi.event_id
        and	e030.pay_current_step = e020.event_pay_level
        where	vi.event_code = #{eventCode}
        and		m010.hp_no = #{hpNo}
        and		vi.pay_flag = 'Y'
        and		vi.event_final_flag = 'Y'
        and		e030.use_pro_status in ('A', 'B')
    </select>

    <select id="findEventCode" parameterType="com.swontech.s02.domain.vo.s022.S0221A0010Vo$SelectEventCodeVo"
                               resultType="com.swontech.s02.domain.dto.s022.S0221A0010Dto$SelectEventList">
        SELECT DISTINCT ENT.EVENT_CODE, ENT.EVENT_NM
          FROM TB_S020.TB_S020_ORG010 		ORG
            INNER JOIN TB_S020.TB_S020_MEMBER010   MEM
            ON	ORG.ORG_ID    = MEM.ORG_ID
            INNER JOIN TB_S020.TB_S020_EVENT010   ENT
            ON	ORG.ORG_ID    = ENT.ORG_ID
        WHERE ENT.EVENT_TP = 'D'
            AND	 ORG.DATA_END_STATUS IS NULL
            AND	 MEM.DATA_END_STATUS IS NULL
            AND  ENT.DATA_END_STATUS IS NULL
            AND  ORG.ORG_NAME = #{orgName}	  /*단체명*/
            AND	 ORG.CEO_NAME = #{ceoName}	  /*대표자명*/
    </select>
</mapper>