<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">
    <select id="selectCodeList" resultType="com.swontech.s02.domain.dto.comm.CommonDto$SelectCodeResponse" parameterType="com.swontech.s02.domain.dto.comm.CommonDto$SelectCodeResponse">
        SELECT 	CD_V,
                CD_V_MEANING
        FROM 	tb_s020.tb_s020_code010
        WHERE 	1 = 1
        <if test='category != null and category != ""'>
        AND     CATEGORY = #{category}
        </if>
        <if test='cdTp != null and cdTp != ""'>
        AND 	CD_TP = #{cdTp}
        </if>
        <if test='orgId != null and orgId != ""'>
        AND 	ORG_ID = #{orgId}
        </if>
        <if test='cdV != null and cdV != ""'>
            AND     CD_V = #{cdV}
        </if>
    </select>

    <sql id="pagingTop">
    SELECT /*페이징 조회*/
        T3.*
      FROM (
        SELECT /*전체 row*/
            @rownum:=@rownum+1 AS SEQ, T2.*
          FROM (
            SELECT T1.*, COUNT(*) OVER(PARTITION BY '1') TOT_CNT
            FROM (
    </sql>

    <sql id="pagingBottom">
            ) T1
            order by (
                <choose>
                    <when test="column==null || column==''">1</when>
                    <otherwise>${column}</otherwise>
                </choose>
                    ) ${order}
        ) T2, (SELECT @rownum:=0) AS R
    ) T3
    WHERE T3.SEQ &gt; #{limit} * (#{curPage}-1)  /*시작페이지행번호 = 한페이지 row수 * (현재페이지번호-1) */
      AND T3.SEQ &lt;= (#{limit} * #{curPage}) /* 한페이지 row수 * 현재페이지번호 */
    </sql>
</mapper>